* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #c8c8c8;
  color: #212121;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

p {
  margin: 0;
  padding: 0 3px;
}

button {
  height: 30px;
  border-width: 0;

  font-weight: 700;
  color: #000000;
  background-color: #e96839;

  border-radius: 8px;

  box-shadow: inset -2px -2px 2px #833316, inset 2px 2px 2px #eb8d6b;

  transition: background-color 150ms linear, box-shadow 150ms linear;
}

button:hover,
button:focus {
  box-shadow: inset -3px -3px 2px #61230d, inset 3px 3px 2px #ffb295;
}

button:active {
  background-color: #d05c32;

  box-shadow: inset -2px -2px 2px #eb8d6b, inset 2px 2px 2px #833316;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1210px;
  padding: 10px 5px;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  height: 50px;
  background-color: #15296d;
}

.search-form {
  margin-right: auto;
  margin-left: auto;
  max-width: 400px;

  display: flex;
  flex-wrap: nowrap;
  gap: 3px;
}

.search-form input {
  width: 100%;
  height: 30px;
  padding: 2px 5px;

  border-radius: 8px;
}

.main-content {
  margin-top: 50px;
  margin-bottom: 50px;
  min-height: clac(100vh - 100px);
}
.gallery {
  margin: -8px 0 0 -8px;

  display: flex;
  flex-wrap: wrap;
}

.gallery-card {
  margin: 8px 0 0 8px;
  flex-basis: calc(1200px / 4 - 8px);
  padding: 2px;

  background-color: #fffff0;
  border-radius: 4px;

  box-shadow: 2px 2px 4px #808080, -1px 0 3px #808080;

  transition: box-shadow 150ms linear;
}

.gallery-card:hover,
.gallery-card:focus {
  box-shadow: 2px 2px 4px #000000, -1px 0px 3px #000000;
}

.gallery-card:active {
  box-shadow: inset 1px 1px 3px #808080, inset -1px 0px 3px #808080;
}

.photo-card img {
  width: 290px;
  height: 217px;

  object-fit: contain;

  box-shadow: 0 1px 0 0 #808080;
}

.info {
  display: flex;
}

.info-item {
  text-align: center;

  text-shadow: 2px 1px 3px #e96839;
}

.main-content button {
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;

  display: block;
}

.page-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;

  height: 50px;

  background-color: #212121;
}

.page-footer p {
  text-align: center;
  color: #ffffff;
}

.page-footer a {
  transition: color 150ms linear;
}

.page-footer a:hover,
.page-footer a:focus {
  color: #e96839;
}
